@font-face {
    font-family: "outfit-r";
    src: url(../fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: "outfit-b";
    src: url(../fonts/Outfit/static/Outfit-Bold.ttf);
}

body {
    background: rgb(255, 255, 255);
    font-family: "outfit-r", sans-serif;
}

#title {
    text-align: center;
    text-decoration: underline;
    font-family: "outfit-b", sans-serif;
    font-size: 5em;
    color: rgb(21, 182, 21);
}

.pics {
    height: 70vh;
    width: 30vw;
    padding-left: 2vw;
}

.food {
    font-size: 3em;
}

.food.bll {
    text-align: left;
}

.food.chli {
    text-align: center;
}

.food.gcs {
    text-align: right;
}